extends layout

block content
    .container
        if (user)
            p You are currently logged in as #{user.username}
        if (!user)
            p Login or Register and start creating ToDos!
